@import "tailwindcss";
@import "./fonts/vision.css";

@theme {
  --font-vision: "Vision", sans-serif;
  --color-mayfair-navy: #254a5d;
  --color-mayfair-blue: #82b1dd;
}

:root {
  color-scheme: light dark;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  background-color: #f2f0ee;
}

body {
  font:
    16px/145% system-ui,
    "Segoe UI",
    Roboto,
    sans-serif;
}
